:host {
  form {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-width: 300px;
    max-width: 600px;

    mat-form-field {
      width: 100%;
    }

    .error {
      margin-top: 0.6666666667em;
      font-size: 85%;
      color: #f44336;
    }

    button {
      margin-top: 0.75em;
    }
  }
}
