:host {
  display: flex;
  flex-direction: column;
  align-items: center;

  .card-container {
    display: flex;
    flex-direction: row;
    gap: 10px;

    mat-card {
      width: 200px;
    }
  }
}
