<mat-toolbar class="toolbar">
  <a mat-icon-button routerLink="/home">
    <mat-icon svgIcon="home" />
  </a>
  <div class="toolbar-spacer"></div>
  <button mat-icon-button type="button" [matMenuTriggerFor]="preferencesMenu">
    <mat-icon svgIcon="settings" />
  </button>
  <mat-menu #preferencesMenu="matMenu" class="preferences-menu">
    <mat-radio-group aria-label="Select an option" [value]="themeMode$ | async" (change)="setThemeMode($event.value)">
      <mat-radio-button [value]="null">Default</mat-radio-button>
      <mat-radio-button [value]="themeModes.Light">Light</mat-radio-button>
      <mat-radio-button [value]="themeModes.Dark">Dark</mat-radio-button>
    </mat-radio-group>
  </mat-menu>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav-content class="content">
    <mat-card class="card">
      <router-outlet />
    </mat-card>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar class="toolbar" />
