<h2>{{ title }} app is running!</h2>

<app-cards
  title="Topics"
  description="Here are some links to show examples for several topics:"
  [cards]="[
    { title: 'Typed Reactive Forms', link: ['..', 'forms'] },
    { title: 'Signals', link: ['..', 'signals'] },
  ]"
/>

<app-cards
  title="Resources"
  description="Here are some links to help you get started:"
  [cards]="[
    { title: 'Learn Angular', href: 'https://angular.io/tutorial', icon: 'school' },
    { title: 'Angular CLI', href: 'https://angular.io/cli', icon: 'code' },
    { title: 'Angular Material', href: 'https://material.angular.io', icon: 'angular_material' },
    { title: 'Angular Blog', href: 'https://blog.angular.io/', icon: 'whatshot' },
    { title: 'Angular DevTools', href: 'https://angular.io/devtools/', icon: 'saved_search' },
  ]"
  [small]="true"
/>

<!-- Next Steps -->
<h2>Next Steps</h2>
<p>What do you want to do next with your app?</p>

<input #selection type="hidden" />

<div class="card-container">
  <button mat-fab extended type="button" tabindex="0" (click)="selection.value = 'component'">
    <mat-icon svgIcon="add" />
    New Component
  </button>

  <button mat-fab extended type="button" tabindex="0" (click)="selection.value = 'material'">
    <mat-icon svgIcon="add" />
    Angular Material
  </button>

  <button mat-fab extended type="button" tabindex="0" (click)="selection.value = 'pwa'">
    <mat-icon svgIcon="add" />
    Add PWA Support
  </button>

  <button mat-fab extended type="button" tabindex="0" (click)="selection.value = 'dependency'">
    <mat-icon svgIcon="add" />
    Add Dependency
  </button>

  <button mat-fab extended type="button" tabindex="0" (click)="selection.value = 'test'">
    <mat-icon svgIcon="add" />
    Run and Watch Tests
  </button>

  <button mat-fab extended type="button" tabindex="0" (click)="selection.value = 'build'">
    <mat-icon svgIcon="add" />
    Build for Production
  </button>
</div>

<!-- Terminal -->
<div class="terminal">
  @switch (selection.value) {
    @case ("material") {
      <pre>ng add &#64;angular/material</pre>
    }
    @case ("pwa") {
      <pre>ng add &#64;angular/pwa</pre>
    }
    @case ("dependency") {
      <pre>ng add _____</pre>
    }
    @case ("test") {
      <pre>ng test</pre>
    }
    @case ("build") {
      <pre>ng build</pre>
    }
    @default {
      <pre>ng generate component xyz</pre>
    }
  }
</div>
